<%
  link = link_to 'Add', new_task_path()
  text = "No tasks added. You can add task with 'Add' link."
%>
<%= panel_with_table('tasks', "Tasks", link, text) do %>
    <% if @tasks.any? %>
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Requester</th>
          <th>Owners</th>
          <th>&nbsp;</th>
          </thead>
          <tbody>
          <%= content_tag_for(:tr, @tasks) do |task| %>
              <td><%= task.name %></td>
              <td><%= task.desc %></td>
              <td><%= task.type %></td>
              <td><%= task.requester.name if task.requester %></td>
              <td><%= task.owners.join(', ') %></td>
              <td><%= link_to 'Delete', task_path(task.id), method: :delete %></td>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>