<%
  link = link_to 'Add', new_task_path()
  text = "No tasks added. You can add task with 'Add' link."
%>
<%= panel('tasks', "Tasks", link, text) do %>
    <% if @tasks.any? %>
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th>Requester</th>
          <th>Owners</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          </thead>
          <tbody>
          <% @tasks.each do |task|
            c = 'bg-success' if task.state == :accepted %>
              <%= content_tag_for(:tr, task, class: c) do %>
                  <td><%= task.name %></td>
                  <td><%= task.desc %></td>
                  <td><%= task.type %></td>
                  <td><%= task.requester.name if task.requester %></td>
                  <td><%= task.owners.collect { |user| user.name }.join(', ') %></td>
                  <td>
                    <%= task.state != :accepted ? state_button(task) : ' ' %>
                  </td>
                  <td><%= link_to 'Delete', task_path(task.id), method: :delete %></td>
              <% end %>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>