<%=
  panel_with_form_for(@task, 'new_task', 'New task', url: tasks_path) do |f|
%>
    <%= f.label :type, 'Type' %>
    <%= select(:task, :type, [[:story], [:bug], [:service]], {}, {class: "form-control"}) %>
    <%= f.error_text :type %>

    <%= f.label :type, 'Story' %>
    <%= collection_select(:task, :story_id, @stories, :id, :full_name, {prompt: true}, {class: "form-control"}) %>
    <%= f.error_text :story %>

    <%= f.label :type, 'Requester' %>
    <%= collection_select(:task, :requester_id, @users, :id, :name, {}, {class: "form-control"}) %>
    <%= f.error_text :requester %>

    <!--<%= f.label :type, 'Owners' %>-->
    <!--&lt;!&ndash;<div class="multiselect" id="task_owners"></div>&ndash;&gt;-->
    <!--<%= collection_select(:task, :owner_ids, @users, :id, :name, {}, {class: "form-control", :multiple => true, :size => 5}) %>-->
    <%= f.search_select(:owners, @users, :name) %>

    <%= f.text_field :name, 'Name', 'Name' %>

    <%= f.text_field :desc, 'Description', 'Description' %>

    <%= f.submit "Add", class: "btn btn-default" %>
<% end %>