<div class="panel-body" id="profile">
  <%= form_for(@user, url: update_profile_path, remote: true) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: "form-control", placeholder: 'Name' %>
        <% if @user.errors.full_messages_for(:name).any? %>
            <% @user.errors.full_messages_for(:name).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :initials, 'Initials' %>
        <%= f.text_field :initials, class: "form-control", placeholder: 'Initials' %>
        <% if @user.errors.full_messages_for(:initials).any? %>
            <% @user.errors.full_messages_for(:initials).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <%= f.submit "Edit", class: "btn btn-default", id: 'edit_myprofile' %>
  <% end %>
</div>