<div class="panel-body" id="myprofile">
  <%= form_for(@user, remote: true) do |f| %>
      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: "form-control", placeholder: 'Password' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm password' %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Confirm password' %>
      </div>
      <%= f.submit "Set password", class: "btn btn-default", id: 'set_password' %>
  <% end %>
</div>