<div class="center-block small-form">
  <%= form_tag({ controller: 'users', action: 'authenticate'}, method: :post, id: 'authenticate_user') do %>
      <div class="form-group">
        <%= label_tag 'user_email', 'Email address' %>
        <%= text_field_tag 'user[email]', '', class: "form-control", placeholder: 'Email' %>
        <% if @errors.full_messages_for(:email).any? %>
            <% @errors.full_messages_for(:email).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= label_tag 'user_password', 'Password' %>
        <%= password_field_tag  'user[password]', '', class: "form-control", placeholder: 'Password'  %>
        <% if @errors.full_messages_for(:password).any? %>
            <% @errors.full_messages_for(:password).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <%= submit_tag "Sign in", class: "btn btn-default", id: 'signin' %>
      <p><small>New user? <%= link_to 'Sign up!', signup_path, id: 'signup' %></small></p>
  <% end %>
</div>