<div class="center-block small-form">
    <%= form_for(@user) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: "form-control", placeholder: 'Name' %>
        <% if @user.errors.full_messages_for(:name).any? %>
            <% @user.errors.full_messages_for(:name).each do |message| %>
                <p class="text-danger">
                  <small><%= message %></small>
                </p>
            <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'Email address' %>
        <%= f.text_field :email, class: "form-control", placeholder: 'Email' %>
        <% if @user.errors.full_messages_for(:email).any? %>
            <% @user.errors.full_messages_for(:email).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field  :password, class: "form-control", placeholder: 'Password 6 to 120 symbols'  %>
        <% if @user.errors.full_messages_for(:password).any? %>
            <% @user.errors.full_messages_for(:password).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm password' %>
        <%= f.password_field  :password_confirmation, class: "form-control", placeholder: 'Confirm password'  %>
        <% if @user.errors.full_messages_for(:password_confirmation).any? %>
            <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
                <p class="text-danger"><small><%= message %></small></p>
            <% end %>
        <% end %>
      </div>
      <%= f.submit "Sign up", class: "btn btn-default", id: 'signup' %>
      <p><small>Already registered? <%= link_to 'Sign in!', signin_path, id: 'signin' %></small></p>
    <% end %>
</div>