<div class="panel panel-default" id="companies_panel">
  <div class="panel-heading">
    <div class="pull-left">Companies</div>
    <div class="text-right">
      <%= link_to 'Add', new_company_path %>
    </div>
  </div>
  <div class="panel-body" id="profile">
    <p>This is list of companies you have role in. You can edit company`s profile if you have admin role in it. You also can create a company via 'Add' link.  </p>
  </div>
  <% if @companies.any? %>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Roles</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <%= content_tag_for(:tr, @companies) do |company| %>
          <td><a href="<%= company.web %>" target="blank"><%= company.name %></a></td>
          <td><%=
          @user.roles.for(company).pluck(:name).join(", ")
          %></td>
          <td><%= link_to("Delete", company_path(company.id), method: :delete) if company.destroyable? && company.admin?(@user) %></td>
    <% end %>

    </tbody>
  </table>
      <% end %>
</div>
