<%
  text = 'This is list of companies you have role in. You can edit company`s profile if you have admin role in it. You also can create a company via \'Add\' link.'
  link_html = link_to 'Add', new_company_path
%>
<%= panel_with_table('companies_panel', 'Companies', link_html, text) do %>
    <% if @companies.any? %>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Website</th>
            <th>Roles</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <%= content_tag_for(:tr, @companies) do |company| %>
              <td><a href="<%= company_path(company.id) %>"><%= company.name %></a></td>
              <td><a href="<%= company.web %>" target="blank"><%= company.web %></a></td>
              <td><%=
                role_names(@user, company).join(", ")
              %></td>
              <td><%= link_to("Delete", company_path(company.id), method: :delete,
                              data: {confirm: 'Deleting company is permanent action. Are you sure?'}
                      ) if destroyable?(company) && is_admin?(@user, company) %></td>
          <% end %>

          </tbody>
        </table>
    <% end %>
  <% end %>

