<%
  link = link_to 'Add', new_feature_story_path(@feature.id)
  text = "No stories added. You can add story with 'Add' link."
  %>
<%= panel('stories', "Stories", link, text) do %>
    <% if @stories.any? %>
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Description</th>
          <th>&nbsp;</th>
          </thead>
          <tbody>
          <%= content_tag_for(:tr, @stories) do |story|%>
              <td><%= story.full_name %></td>
              <td><%= story.desc %></td>
              <td><%= link_to 'Delete', story_path(story.id), method: :delete%></td>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>