<%
  link = link_to 'Add', new_feature_story_path(@feature.id) if @feature
  text = "No stories added. You can add story with 'Add' link." if @feature and !@stories.any?
  text = "All stories for project listed here. You can add stories only for features." if @project
  %>
<%= panel_with_table('stories', "Stories", link, text) do %>
    <% if @stories.any? %>
        <table class="table">
          <thead>
          <th>Name</th>
          <th>Description</th>
          <th>&nbsp;</th>
          </thead>
          <tbody>
          <%= content_tag_for(:tr, @stories) do |story|%>
              <td><%= story.full_name %></td>
              <td><%= story.desc %></td>
              <td><%= link_to 'Delete', story_path(story.id), method: :delete%></td>
          <% end %>
          </tbody>
        </table>
    <% end %>
<% end %>