<% link = link_to 'Add', new_project_feature_path(@project.id) %>
<%= panel_with_table('features', 'Features', link, nil) do %>
<table class="table">
  <thead>
  <th>Name</th>
  <th>Description</th>
  <th>&nbsp;</th>
  </thead>
  <tbody>
  <% @features.each do |feature| %>
      <tr id="<%= feature.id %>">
        <td><%= feature.name %></td>
        <td><%= feature.desc %></td>
        <td><%= link_to 'Delete', project_feature_path(@project.id, feature.id),
                        method: :delete, data: {confirm: 'Deleting feature is permanent action. Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>