<% if available_projects.any? %>
    <li class="dropdown" id="current_project" data-child-maxwidth="true">

      <a id="drop1" href="javascript:;" class="dropdown-toggle text-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= current_project ? current_project.name : 'Choose project...' %>
        <span class="caret"></span> </a>
      <ul class="dropdown-menu" aria-labelledby="drop1">
        <% (available_projects - [current_project]).each do |project| %>
            <li id="project_<%= project.id %>">
              <%= link_to project.name, set_current_project_path(project.id), remote: true %>
            </li>
        <% end %>
      </ul>

    </li>
    <% if current_project %>
        <li><%= link_to 'Features', project_features_path(current_project.id) %></li>
        <li><%= link_to 'Actors', project_actors_path(current_project.id) %></li>
        <li><%= link_to 'Tasks', tasks_path %></li>
    <% end %>
<% end %>